.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 2rem;
  align-items: center;
width: 100%;
}

.field {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: gray;
}

.field input,
select,option {
  padding: .6rem 0.5rem;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
  color: gray;
  font-size: .7rem;
}
.form button {
  grid-column: span 2;
  padding: 1rem 0.5rem;
  background-color: rgb(70, 170, 100);
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  width: 100%;

}
.form textarea {
  grid-column: span 2;
  padding: 1rem;
}
.total{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: gray;
  font-size: .7rem;
  border-bottom: 2px solid green;
  margin-bottom: 1rem;
}
@media (max-width:1100px){
  .form{
    display: flex;
    flex-direction: column;
  }
  .form textarea{
    width: 100%;
  }
 
}