.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 5rem;
    width: 90%;
}

@media (max-width:1244px){
    .container{
        display: flex;
        flex-direction: column;
    }
}